* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    text-align: center;
   /* background-image: url("./images/weather2.jpg"); */   
   background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%) ,
                linear-gradient(127deg, rgba(68, 206, 224, 0.8), rgba(0,255,0,0) 70.71%) ,
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%) ;
}

header {
    padding-top: 40px;
}
h1 {
    padding: 10px;
    font-weight: 900;
    font-size: 2rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 10px;
}
input#searchCity, input[type="submit"] {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}
input[type="submit"] {
   
   
}

input[type="submit"]:hover {
   background-color: black;
   color: white;
   
}

.currentData {
    margin: 20px auto;
    width: 350px;
    border: 2px solid #90909d;
    padding: 10px;
    border-radius: 10px;
}
h4.current {
    padding: 15px;
    font-weight: 900;
    font-size: 3rem;
}

.weeklyData {
    width: 350px;
    margin: 10px auto;
    border: 2px solid #90909d;
    padding: 15px;
}
.forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid darkblue;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.forecast h3 {
    font-size: .5rem;
}